@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --tp-font-main: 'Roboto', system-ui, sans-serif;
  --tp-secondary-content: rgb(255, 255, 255);
  --tp-map-georeference: rgb(239, 68, 68);
  --tp-map-aggregate: rgb(3, 115, 22);
  --tp-map-asserted: rgb(249, 115, 22);
  --tp-map-type-material: rgb(51, 136, 255);
  --tp-map-collection-object: rgb(239, 68, 68);
}
